{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set items_count = items_control|length %}

{% block headtable %}	
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Auth Token</strong></td>
			<td class="py-1">{{ p._get_api_token() }}</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>expires:</strong></td>
			<td class="py-1">{{ p._get_api_token_expire_date() }}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>User ID</strong></td>
			<td class="py-1">{{ p.get_parameter_value_for_display('userid') }}</td>
			<td></td>
			<td class="py-1"><strong>Password</strong></td>
			<td class="py-1">{{ p.get_parameter_value_for_display('password') }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<form action="" method="post">
	</form>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 3)
-->
{% set tabcount = 2 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if item_count==0 %}
	{% set start_tab = 1 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong> (" ~ device_count ~ ")" %}
{% block bodytab1 %}
<div class="container-fluid m-2">


<table class="table">
  <tbody>
    <tr>
      <td class="py-1">
	<strong>{{ p._get_mower_name() }}</strong></br>
        <small>{{ p._get_mower_model_name() }}</small></br>
        <small>{{ p._get_mower_id() }}</small></br>

	{% if p._get_mower_model()=="AM315X" %}
	<img src="static/img/H310-1610 315x.png" alt="{{ _('Gerät verfügbar') }}" style="width: 200px;"/></br>
	{% endif %}

        <span style="color: #{{ p._get_mower_status_color() }};">
		{{ p._get_mower_status_activity() }}

		{% if p._get_mower_status_activity()=="CUTTING" %}
			<i class="fas fa-cog fa-spin"></i>
		{% elif p._get_mower_status_activity()=="MOVING" %}
			<i class="fas fa-forward"></i>
		{% elif p._get_mower_status_activity()=="PARKED" %}
			<i class="fas fa-warehouse"></i>
		{% elif p._get_mower_status_activity()=="CHARGING" %}
			<i class="fas fa-warehouse"></i>
		{% elif p._get_mower_status_activity()=="DISABLED" %}
			<i class="fas fa-cogs"></i>
		{% elif p._get_mower_status_activity()=="ERROR" %}
			<i class="fas fa-exclamation-triangle"></i>
		{% endif %}
        </span>

        <small style="float: right;">

        {% if p._is_mower_connected()==True %}
          <i class="fas fa-wifi"></i> 
          <i class="fas fa-link"></i> 
        {% else %}
          <i style="color: #aaaaaa;" class="fas fa-wifi"></i> 
          <i class="fas fa-unlink"></i> 
	{% endif %}

        {% if p._get_mower_status_battery_percent() >= 90 %}
          <i class="fas fa-battery-full"></i> 
        {% elif p._get_mower_status_battery_percent() >= 75 %}
          <i class="fas fa-battery-three-quarters"></i> 
        {% elif p._get_mower_status_battery_percent() >= 50 %}
          <i class="fas fa-attery-half"></i> 
        {% elif p._get_mower_status_battery_percent() >= 25 %}
          <i class="fas fa-battery-quarter"></i> 
        {% else %}
          <i class="fas fa-battery-empty"></i> 
        {% endif %}
        {{ p._get_mower_status_battery_percent() }}%</small></br>

        {% if p._get_mower_status_activity()=="ERROR" %}
	    {{ p._get_mower_last_error_message() }}</br>
	    {{ p._get_mower_last_error_time() }}
        {% else %}
	    {{ p._get_mower_status_message() }}
	{% endif %}
        </br>



	<form action="" method="post">
        <button type="button" class="btn btn-shng btn-sm" onclick="jQuery.get('mower_stop');"><i class="fas fa-stop"></i> {{ _('Stop') }}</button>
        <button type="button" class="btn btn-shng btn-sm" onclick="jQuery.get('mower_start');"><i class="fas fa-play"></i> {{ _('Start') }}</button>
        <button type="button" class="btn btn-shng btn-sm" onclick="jQuery.get('mower_park');"><i class="fas fa-home"></i> {{ _('Park') }}</button>
	</form>
      </td><td>
        <div id="map-1" style="height: 300px; width: 500px;"></div>

<!--
	<script>
	  function initMap() {
            var mower1 = {lat: {{ p._get_mower_last_latitude() }}, lng: {{ p._get_mower_last_longitude() }};
            var map1 = new google.maps.Map(document.getElementById('map-1'), {zoom: 12, center: mower1});
	    var marker1 = new google.maps.Marker({position: mower1, map: map1});
	  }
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key={{ p.get_parameter_value_for_display('mapkey') }}&callback=initMap">
        </script>
-->

        <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
	<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	<script type="text/javascript">
		var mower_lon = {{ p._get_mower_last_longitude() }}
                var mower_lat = {{ p._get_mower_last_latitude() }}

		var map1 = new ol.Map({
			target: 'map-1',
			layers: [
			  new ol.layer.Tile({
			    source: new ol.source.OSM()
			  })
			],
			view: new ol.View({
			  center: ol.proj.fromLonLat([mower_lon, mower_lat]),
			  zoom: 19 
			})
		      });

		var mowerStyle = new ol.style.Circle({
				radius: 30,
				fill: new ol.style.Fill({
			    		color: '#ff9900',
					opacity: 0.9
					}),
				stroke: new ol.style.Stroke({
					color: '#ff0000',
					opacity: 0.4
					})
				});

                var mower1 = new ol.Feature({
			geometry: new ol.geom.Point(ol.proj.transform([mower_lon, mower_lat], 'EPSG:4326', 'EPSG:3857')),
                        style: mowerStyle
			});

                var mowers = [];
                mowers.push(mower1); 
		var mowerSource = new ol.source.Vector({
			features: mowers
			});
		var mowerLayer = new ol.layer.Vector({
			source: mowerSource
			});

                map1.addLayer(mowerLayer);


		/** var mower_coordinates = [[lon, lat], [lon, lat], ... ]*/
                var mower_coordinates = {{ p._get_mower_last_coordinates() }};

		var mowerLines = new ol.layer.Vector({
			source: new ol.source.Vector({
				features: [new ol.Feature({
						geometry: new ol.geom.LineString(mower_coordinates).transform('EPSG:4326','EPSG:3857'),
						name: 'Track'
						})]
				}),
			});
		map1.addLayer(mowerLines);

		setTimeout(function() {
		    map1.updateSize();
		}, 100);

        </script>

      </td>
    </tr>
  </tbody>
</table>

</div>

{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Items</strong> (" ~ item_count ~ ")" %}
{% block bodytab2 %}
<div class="container-fluid m-2">
    {% for item in items_control %}
        <div>{{ item }}</div>
    {% endfor %}
</div>
{% endblock bodytab2 %}

